<div class="container-fuild margin-top">
    <div class="row">
        <div class="col-md-4">
            <h1 class="justify-right">
                <i class="fas fa-cloud"></i> Cloud Storage
            </h1>
        </div>
        <div class="col-md-8">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <span aria-current="page" class="nav-link active">
                        <h4>
                            <%-user.usernameWithID%>
                        </h4>
                    </span>
                </li>
                <li class="nav-item">
                    <form action="/logout" class="nav-item">
                        <button type="submit" class="btn btn-primary nav-link active">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <br><br>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-md-3">
            <form class="nav-item" action="<% pathWithoutHome %>" method="POST" enctype="multipart/form-data">
                <label id="input-file">
                    <input id="file-input" type="file" name="file" multiple>
                </label>
            </form>
            <div class="progress" style="display: none;" id="div-progress">
                <div id="upload-progress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
              </div>
            <p id="message"></p>
        </div>
        <%if(!status == "" && status != "success") { %>
            <div class="col-md-2">
                <div class="alert alert-danger text-center" id="alert-boot" role="alert">
                    <% if(status == "err") { %>
                        Please select files to upload.
                        <% } %>
                    <button type="button" class="btn btn-outline-danger" id="btn-alert" data-bs-dismiss="alert" aria-label="Close">Close</button>
                </div>
            </div>
        <%} else if(status == "success") {%>
            <div class="col-md-2">
                <div class="alert alert-success alert-dismissible fade show" id="alert-boot" role="alert">
                    Files uploaded!
                    <button type="button" class="btn btn-outline-success" id="btn-alert" data-bs-dismiss="alert" aria-label="Close">Close</button>
                </div>
            </div>
        <%}%>
    </div>
</div>
<br><br>
<div class="container-fuild margin-top text-center">
    <div class="row">
        <form action="<%= '/create' + pathWithoutHome + '-' + req.query.dirname %>" method="post">
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-lg btn-create">
                        Create new folder
                    </button>
                </div>
                <div class="col">
                    <input type="text" placeholder="Folder name" name="newFolder" class="form-control" id="floatingInput">
                </div>
            </div>            
        </form>
    </div>
    <br><br>
    <!-- GO BACK -->
    <div class="row text-center">
        <div class="col-md-8">
            <% if(req.query.dirname) { %>
            <form action="<%= path %>" method="GET" id="form">
                <% } else if(!req.query.dirname && path && path != "/home/" && path != "/home") { %>
                    <%
                    var backPath = '', cpy = false;

                    for(let i = path.length; i > 0; i--) {
                        if(cpy) {
                            backPath += path[i];
                        }

                        if(path[i] == '-') {
                            cpy = true;
                        }
                    }
                    backPath = "/" + backPath.split("").reverse().join("")
                    %>
            <form action="<%= backPath %>" method="GET" id="form">
                <% } %>
                <% if( req.query.dirname || (path && (path != "/home/" && path != "/home" && path != "home/" && path != "home" && path != "/home/?" && path != "home/?"))) { %>
                <button type="submit" class="btn btn-outline-primary" id="folder">
                    <i class="fas fa-level-up-alt" style="transform: scaleX(-1);"></i>
                    <label></label>
                    <label>
                        Up a dir...
                    </label>
                </button>
            </form>
            <% } %>
        </div>
    </div>
</div>
    <!-- FOLDERS -->
    <div class="row text-center">
        <% for( const dirname of content.directories) { %>
        <div class="col-md-8">
            <% if(req.query.dirname) { %>
            <form action="<%= path + '-' + req.query.dirname %>" method="GET" id="form">
            <% } else {%>
            <form action="<%= path %>" method="GET" id="form">
            <% } %>
                <input type="hidden" name="dirname" value="<%= dirname %>">
                <button type="submit" class="btn btn-outline-primary" id="folder">
                    <i class="fas fa-folder"></i>
                    <label><%-dirname%></label>
                </button>
            </form>
        </div>
        <div class="col-md-2">
            <% if(req.query.dirname) { %>
            <form action="<%= '/delete' + pathWithoutHome + req.query.dirname + '?dirname=' + dirname %>" method="post" id="form-trash">
            <% } else { %>
            <form action="<%= '/delete' + pathWithoutHome + '?dirname=' + dirname %>" method="post" id="form-trash">
            <% } %>
                <button type="submit" class="btn btn-outline-danger" id="trash">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
        <% } %>
        <!-- FILES -->
        <% for( const filename of content.files) { %>
            <div class="col-md-8">
                <form action="/image" method="GET">
                    <input type="hidden" name="path" value="<%= pathWithoutHome %>">
                    <input type="hidden" name="img" value="<%= filename %>">
                    <button class="btn btn-outline-info" id="file" type="submit">
                        <i class="fas fa-file"></i>
                        <label><%-filename%></label>
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <form action="<%= '/delete' + pathWithoutHome + '-' + req.query.dirname + '?filename=' + filename %>" method="POST" id="form-trash" class="col">
                        <button type="submit" class="btn btn-outline-danger" id="trash">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                    <form action="<%= '/download' + pathWithoutHome + '-' + req.query.dirname + '?filename=' + filename %>" method="post" id="form-download" class="col">
                        <button type="submit" class="btn btn-outline-info" id="trash">
                            <i class="fas fa-download"></i>
                        </button>
                    </form>
                </div>
            </div>
            <% } %>
    </div>
</div>