<div class="container-fuild margin-top">
    <div class="row">
        <div class="col-md-4">
            <h1 class="justify-right">
                Cloud Storage
            </h1>
        </div>
        <div class="col-md-8">
            <ul class="nav justify-content-end">
        
                <li class="nav-item">
                    <span aria-current="page" class="nav-link active">
                        <%-user.usernameWithID%>
                    </span>
                </li>
                <li class="nav-item">
                    <form action="/logout" class="nav-item">
                        <button type="submit" class="btn btn-primary nav-link active">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <br><br>
<div class="container-fluid margin-top">
    <div class="row">
        <div class="col-md-3">
            <form action="<% pathWithoutHome %>" class="nav-item" method="POST" enctype="multipart/form-data">
                <label id="input-file">
                    <input type="file" name="filename" multiple>
                </label>
                <br><br>
                <button type="submit" class="btn btn-secondary nav-link active">
                    Upload files
                </button>
            </form>
        </div>
        <%if(!status == "" && status != "success") { %>
            <div class="col-md-2">
                <div class="alert alert-danger text-center" id="alert-boot" role="alert">
                    <% if(status == "err") { %>
                        Please select files to upload.
                        <% } %>
                    <button type="button" class="btn btn-outline-danger" id="btn-alert" data-bs-dismiss="alert" aria-label="Close">Close</button>
                </div>
            </div>
        <%} else if(status == "success") {%>
            <div class="col-md-2">
                <div class="alert alert-success alert-dismissible fade show" id="alert-boot" role="alert">
                    Files uploaded!
                    <button type="button" class="btn btn-outline-success" id="btn-alert" data-bs-dismiss="alert" aria-label="Close">Close</button>
                </div>
            </div>
        <%}%>
        
    </div>
</div>
<br><br>
<div class="container-fuild margin-top text-center">
    <div class="row">
        <button type="button" class="btn btn-primary btn-lg">
            Create new folder
        </button>
    </div>
    <br><br>
    <!-- FOLDERS -->
    <div class="row text-center">
        <% for( const dirname of content.directories) { %>
        <div class="col-md-8">
            <% if(req.query.dirname) { %>
            <form action="<%= path + '-' + req.query.dirname %>" method="GET" id="form">
            <% } else {%>
            <form action="<%= path %>" method="GET" id="form">
            <% } %>
                <input type="hidden" name="dirname" value="<%= dirname %>">
                <button type="submit" class="btn btn-outline-primary" id="folder">
                    <i class="fas fa-folder"></i>
                    <label><%-dirname%></label>
                </button>
            </form>
        </div>
        <div class="col-md-2">
            <form action="" method="post" id="form-trash">
                <button type="button" class="btn btn-outline-danger" id="trash">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
        <% } %>


        <!-- FILES -->
        <% for( const filename of content.files) { %>
            <div class="col-md-8">
                <div class="btn btn-outline-info" id="file"">
                    <i class="fas fa-file"></i>
                    <label><%-filename%></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <form action="<%= '/delete' + pathWithoutHome + '-' + req.query.dirname + '?filename=' + filename %>" method="POST" id="form-trash" class="col">
                        <button type="submit" class="btn btn-outline-danger" id="trash">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                    <form action="" method="post" id="form-download" class="col">
                        <button type="button" class="btn btn-outline-info" id="trash">
                            <i class="fas fa-download"></i>
                        </button>
                    </form>
                </div>
            </div>
            
            <% } %>
    </div>
</div>